.skill__circle{
  fill: none;
  stroke-width: 12px;
  stroke: #dfdcd5 ;

}
.circle-fst {

}

:hover.circle-scnd {
  stroke-dasharray: 241.1px;
  stroke-dashoffset: 140px;
  transition: all 1s;
  stroke:  #1056d1 ;
}
