.skill__circle{
  fill: none;
  stroke-width: 25px;
  stroke: #dfdcd5 ;

}
.circle-fst {

}

.circle-scnd {
  stroke-dasharray: 410.4;
  stroke-dashoffset: 330;
  transition: all 1s;
  stroke:  #1056d1 ;
}