.info{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;

}
.info__left-side{
  display: flex;
  position: relative;
  flex:1;
  background-color:$beige ;
}
.info__right-side{
  display: flex;
  position: relative;
  flex: 2;

  background-color: $beige;
}
.info__list{
  top: 50px;
  margin: 20px;
  text-align: right;


}
.fixed {
  position: fixed;
  top: 0;
  z-index: 900;
  width: 30vw;
}
.info__list-content{

  font: "Roboto" , Arial, sans-serif;
  padding: 10px;
  font-weight: bold;
  font-size: 1rem;
  color: #67767c;
  text-decoration: none;

}
.info__list-content_link{
  color: #67767c;
  text-decoration: none;
  &:hover{
    color: #000;

  }

}

.info__right-side{
  display: flex;
  flex-direction: column;
}
.info__right-title{
  font-size: 2rem;
  color: black;
  opacity: 0.8;
  padding: 20px;

}

.info__right-time {
  font-size: 1rem;
  color: #3a768f;
  padding: 0 20px 20px 20px;
}
.info__right-content{
  font-size: 1rem;
  color:#67767c;
  padding: 0 20px 20px 20px;
}

.info__right-side{
  display: flex;
  flex-flow: column;
  position: relative;
  padding-bottom: 50px;
}
.footer__info{
  margin-top: 0px;
}

