parallax {
  position: absolute;
  top: 30px;
  left: -80px;
  width: 110%;
  height: 100%;
  overflow: hidden;

}

.parallax__layer {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  will-change: transform;
}

.parallax__video{
  position: absolute;
  width: auto;
  min-height: 100vh;
  margin-left: -1rem;
  left:-40px;


}
.parallax__image {
  height: 50vh;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background-position: 50% 0 ;
}

