.section {
//  height: 100vh;
  min-height: 650px;
  position: relative;
}
.section.about {
  color: #474b57;;
}
.google-map {
  position: relative;
  height: 100vh;
  background-size: 100% 100%;
}



