.section {
//  height: 100vh;
  min-height: 650px;
  position: relative;
}
.section.about {
  color: #474b57;;
}
.map {
  height: 100vh;
  background-image: url("../img/bg/kor.png");
  background-size: 100% 100%;
}



