.section-title__pic {
  fill: #fff;
  opacity: .1;
  width: 100%;
  display: block;
  height: 300px;
}


.hero_circle-header {
  text-align: center;
  font-size: 23px;
  font-weight: bold;
  padding: 37px 20px 29px 40px;
}

