.socials__link_skype{
  background: url("../img/sprite.png") no-repeat ;
  height: 45px;
  width: 45px;
  display: inline-block;
  float: left;
  background-position: 0px -598px;
  margin-right: 10px;

}

.socials__link_mail{
  background: url("../img/sprite.png") no-repeat ;
  display: inline-block;
  float: left;
  background-position: 0px -343px;
  width: 45px;
  height: 45px;
  margin-right: 10px;

}
.socials__link_phone{
  background: url("../img/sprite.png") no-repeat ;
  display: inline-block;
  float: left;
  background-position: 0px -513px;
  width: 45px;
  height: 45px;
  margin-right: 10px;


}
.socials__link_mark{
  background: url("../img/sprite.png") no-repeat ;
  display: inline-block;
  float: left;
  background-position: 0px -428px;
  width: 45px;
  height: 45px;
  margin-right: 10px;

}