.user__pic-img {
  width: 10vw;
  height: 10vw;
  min-width: 110px;
  min-height: 110px;
  border-radius: 50%;
  margin-bottom: 25px;
  overflow: hidden;
  display: inline-block;
  background-size: 100% 100%;

}

.user__name {
  margin-bottom: 10px;
  color: #ffffff;
  font-size: 17px;
}

.user__desc {
  font-weight: 100;
  color: #ffffff;
}
.user-description{
  height: 100%;
  display: inline-block;
  padding: 0 40px 0 40px ;
}
.user-description__image{
  display: inline-block;
  position: relative;
  background-size: 100% 100%;
  margin-top: 60px;



}
.user-description__avatar {
  display: inline-block;
  width: 300px;
  height: 250px;
  margin: 20px;
  position: relative;
  align-content: center;
  float: left;

}
.user-description__title{
  color: #474b57;
  text-align: center;
}

.user-description__text {
  color: #474b57;
  font-size: 18px;
  margin: 0 40px 0 40px;
}

.block-subtitle {

  font-size: 24px;
  font-weight: bold;
  text-align: center;
}